.rsvp{

    width:100%;
    min-height:100vh;

    padding:120px 0;

    background:#FBF8F4;

}

.rsvp-header{

    width:90%;
    max-width:1200px;

    margin:auto;

    text-align:center;

}

.rsvp-header p{

    letter-spacing:4px;

    color:#B98A39;

    font-size:14px;

    margin-bottom:18px;

}

.rsvp-header h2{

    font-family:"Cormorant Garamond", serif;

    font-size:78px;

    font-weight:500;

    color:#433B33;

}

.divider{

    margin:20px 0;

    color:#C89A45;

    font-size:22px;

}

.rsvp-header span{

    font-size:18px;

    color:#666;

}