/* =====================================================
   LARGE LAPTOP
===================================================== */

@media (max-width:1400px){

    section{

        padding-left:60px;
        padding-right:60px;

    }

}

/* =====================================================
   TABLET
===================================================== */

@media (max-width:1024px){

    section{

        padding-left:40px;
        padding-right:40px;

    }

}

/* =====================================================
   MOBILE
===================================================== */

@media (max-width:768px){

    section{

        padding-left:20px;
        padding-right:20px;

    }

}

/* =====================================================
   SMALL PHONE
===================================================== */

@media (max-width:430px){

    section{

        padding-left:18px;
        padding-right:18px;

    }

}