.loading{

    width:100vw;
    height:100vh;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    cursor:pointer;

    user-select:none;
}

.loading-content{

    display:flex;
    flex-direction:column;

    align-items:center;

    justify-content:center;

    transform:translateY(-25px);

    width:100%;
}

.loading-logo{

    width:200px;

    max-width:46vw;

    height:auto;

    margin-bottom:42px;

    animation:floatLogo 6s ease-in-out infinite;

    filter:drop-shadow(0 8px 18px rgba(0,0,0,.08));

}

.names{

    text-align:center;

    margin-bottom:60px;

}

.names h2{

    font-family:"Cormorant Garamond",serif;

    font-weight:500;

    font-size:58px;

    line-height:1.1;

    color:#3f2d24;

    margin:0;
}

.names span{

    display:block;

    margin:18px 0;

    font-size:28px;

    color:#6d5647;
}

.tap{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(111, 78, 55, 0.8);
    font-weight: 500;
    top: 100px;

    animation: tapGlow 5s ease-in-out infinite;
}

@keyframes tapGlow{

    0%,100%{
        opacity:0.5;
    }

    50%{
        opacity:1;
    }

}

@keyframes floatLogo{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-8px);

    }

}