/* ==========================================================
   INVITATION CARD
========================================================== */

.invitation{

    position:absolute;

    width:58%;

    left:34%;

    top:8%;

    transform:translate(-50%,-50%);

    z-index:40;

    pointer-events:none;

    user-select:none;

    filter:drop-shadow(0 20px 40px rgba(0,0,0,.15));

}

.mobile-invitation{

    position:fixed;

    object-fit:cover;

    z-index:500;

    box-shadow:0 20px 60px rgba(0,0,0,.18);

}