.invitation {

    position: absolute;

    width: 400px;

    left: 35%;
    top: 8%;

    transform: translate(-50%, -50%);

    z-index: 40;

    pointer-events: none;

    user-select: none;

    filter: drop-shadow(
        0 20px 40px rgba(0,0,0,.15)
    );

}